<web-app>
 <display-name>report-server</display-name>
  
 <filter>
   <filter-name>securityFilter</filter-name>
   <filter-class>report.server.security.SecurityFilter</filter-class>
 </filter>
  
  <filter-mapping>
    <filter-name>securityFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <servlet>
    <servlet-name>mainServlet</servlet-name>
    <servlet-class>report.server.servlet.MainServlet</servlet-class>
  </servlet>
	   
  <servlet>
    <servlet-name>authServlet</servlet-name>
    <servlet-class>report.server.servlet.AuthorizationServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>unauthServlet</servlet-name>
  	<servlet-class>report.server.servlet.UnauthorizationServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>fileViewServlet</servlet-name>
  	<servlet-class>report.server.servlet.FileViewServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>fileUploadingServlet</servlet-name>
  	<servlet-class>report.server.servlet.FileUploadingServlet</servlet-class>
  </servlet>
  
   <servlet>
  	<servlet-name>fileDownloadingServlet</servlet-name>
  	<servlet-class>report.server.servlet.FileDownloadingServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>emailUpdatingServlet</servlet-name>
  	<servlet-class>report.server.servlet.EmailUpdatingServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
     <servlet-name>mainServlet</servlet-name>
     <url-pattern>/main</url-pattern>
     
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>authServlet</servlet-name>
  	<url-pattern>/auth</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>unauthServlet</servlet-name>
  	<url-pattern>/unauth</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>fileViewServlet</servlet-name>
  	<url-pattern>/file</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>fileUploadingServlet</servlet-name>
  	<url-pattern>/file/upload</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>fileDownloadingServlet</servlet-name>
  	<url-pattern>/file/download</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>emailUpdatingServlet</servlet-name>
  	<url-pattern>/email</url-pattern>
  </servlet-mapping>
	
  <welcome-file-list>
  	<welcome-file>WEB-INF/views/mainView.html</welcome-file>
  </welcome-file-list>
  
</web-app>